#loading {
  background-color: white;
  position: fixed;
  z-index: 11;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loadingScreen {
  background-color: #d5edeb;
  position: fixed;
  inset: 0;
  z-index: 10;
  opacity: 0.5;
}
#loading p {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  #loading p {
    position: fixed;
    top: 50%;
    left: 30%;
    font-size: 2rem;
  }
}
