.second {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.conceptDiv {
  width: 50%;
  height: 50%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.conceptDiv > h1 {
  font-size: 60px;
  font-weight: 700;
}
.second > img {
  width: 30%;
  height: 80%;
  object-fit: cover;
  margin-top: 10%;
}
@media screen and (max-width: 768px) {
  .second > img {
    width: 40%;
    height: 50%;
    object-fit: cover;
    margin-top: 10%;
  }
  .conceptDiv {
    width: 50%;
    height: 40%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  .conceptDiv > h1 {
    font-size: 20px;
    font-weight: 700;
  }
  .conceptDiv > p {
    font-size: 10px;
  }
}
