.box {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  background-size: cover;
  position: relative;
}
.row {
  display: flex;
  justify-content: space-around;
}
#time {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 250px);
  color: white;
  font-size: 3rem;
}
